.hero-section {
  background: url("../assets/images/hero-banner.png");
  height: 100vh;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px 8%;
}
.hero-inner {
  height: 100vh;
  padding: 48px 0;
}
.hero-logo img {
  height: 70px;
  width: 70px;
  margin-bottom: 24px;
}
.hero-title {
  color: var(--navy);
  font-size: clamp(2.5rem, 6vw, 3.8rem);
  font-family: "Playfair Display", "serif";
  line-height: 1.1;
  margin-bottom: 16px;
}
.orange {
  color: var(--primary);
}

.hero-details {
  color: var(--text);
  line-height: 1.6;
  margin-bottom: 16px;
  font-size: 15px;
}
.cta-buttons {
  display: flex;
  gap: 8px;
}
.cta-buttons button {
  background-color: var(--primary);
  color: var(--bg);
  padding: 8px 16px;
  border: none;
  outline: none;
  font-family: "Inter", "sans-serif";
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.cta-buttons button:hover {
  background-color: var(--navy);
  color: var(--bg);
}
.cta-buttons .aboutBtn {
  background-color: transparent;
  color: var(--navy);
  padding: 14px 28px;
  border: none;
  outline: none;
  font-family: "Inter", "sans-serif";
  font-size: 14px;
  border: 1px solid var(--navy);
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.cta-buttons .aboutBtn:hover {
  background-color: var(--primary);
  color: white;
  border: none;
}
